build/
!build/Debug/*.exe
!build/Release/*.exe
.vs/
.vscode/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
*.o
*.obj
*.lib
*.a
*.dll
*.so
*.dylib